body {
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

#resulttables > *{
    float: left;
}

#header {
    background-color: #eee;
}

.tablecaption{
    font-size: large;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

.filtertable{
    background-color: #fff;
    border-collapse: collapse;
    border: solid 1px black;
    margin: 10px;
}

.filtertable tr{
    border: solid 1px rgb(0 ,0 ,0);
}

.color_unset_ {
    color: rgb(128, 128, 128);
    font-style: italic;
}

.colorMG, .colorMGi {
    color: rgb(0, 0, 0,);
    background-color: rgb(237, 39, 172);
}
.colorMGi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 39, 172);
}

.colorOFF, .colorOFFi {
    color: rgb(0, 0, 0,);
    background-color: rgb(128, 128, 128);
}
.colorOFFi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(128, 128, 128);
}

.colorCY, .colorCYi {
    color: rgb(0, 0, 0,);
    background-color: rgb(45, 224, 231);
}
.colorCYi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(45, 224, 231);
}

.colorGN, .colorGNi {
    color: rgb(0, 0, 0,);
    background-color: rgb(78, 191, 130);
}
.colorGNi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(78, 191, 130);
}

.colorYE, colorYEi {
    color: rgb(0, 0, 0,);
    background-color: rgb(252, 243, 0);
}
.colorYEi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(252, 243, 0);
}

.colorRD, .colorRDi{
    color: rgb(0, 0, 0,);
    background-color: rgb(231, 45, 46);
}
.colorRDi > *:last-child {
    color: rgb(231, 45, 46);
    background-color: rgb(0, 0, 0);
}


.colorBL, .colorBLi {
    color: rgb(0, 0, 0,);
    background-color: rgb(0, 96, 255);
}
.colorBLi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 96, 255);
}

.colorWH, .colorWHi {
    color: rgb(0, 0, 0,);
    background-color: rgb(255, 255, 255);
}
.colorWHi > *:last-child {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

